.chatMessage{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    max-width: 65%;
}
.chatTimestamp{
    margin-left: 10px;
    font-size: small;
    text-align: end;
    color:gray;
}
.chatName{
    font-weight: 800;
    color: teal;
    margin-bottom: 10px;
}
.chatReciever{
    margin-left: auto;
    background-color: #dcf8c6;
}
